@import url(font.less);


.first-view {
    .headline {
        .text-wrapp {
            width: 80%;
            padding-top: 70px;

            h1 {
                font-size: 6vw;
                line-height: 7.2vw;
                letter-spacing: -0.05em;
                .font-medium-BPG();
                // @media (max-width: 1360px){
                //     line-height: 96px;
                //     font-size: 72px;
                // }
            }

            p {
                .font-light-BPG();
                font-size: 19px;
                line-height: 36px;
            }
        }
    }
}


.block {
    .with-text {
        .text-wrapp {
            h2 {            

                font-size: 2.8vw;  
                line-height: 3.2vw; 
                letter-spacing: -0.05em; 
                .font-regular-BPG();
                max-width: 80%;
            
                // @media (max-width: 1360px){
                    
                //     line-height: 50px;
                //     font-size: 40px;
                // }    
                
            }

            p {
                .font-light-BPG();  
                font-size: 22px;
                line-height: 32px;
                max-width: 80%;
            }
        }
    }
}


@media (max-width: 760px){
    .first-view {
        height: 100vh;
        .headline {
            .text-wrapp {

                h1 {
                    .font-medium-BPG();                    
                    font-size: 45px;
                    line-height: 48px;
                    letter-spacing: -0.05em;
                }

                p {                    
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
    }

    .block {
        .with-text {
            .text-wrapp {
                margin-bottom: 80px;
                h2 {            
                    font-size: 28px;
                    line-height: 36px;
                    max-width: 100%;
                    letter-spacing: -0.05em;                       
                }

                p {
                    
                    font-size: 18px;
                    line-height: 28px;
                    max-width: 100%;
                    
                }
            }
        }
    }
}
