/*-------------------Oxygen---------------------*/
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Light.ttf'), local('Oxygen-Light'), url('../font/Oxygen/Oxygen-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Regular.ttf'), local('Oxygen-Regular'), url('../font/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Bold.ttf'), url('../font/Oxygen/Oxygen-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.font-light-Oxygen {
  font-family: 'Oxygen';
  font-weight: 300;
}
.font-regular-Oxygen {
  font-family: 'Oxygen';
  font-weight: 400;
}
.font-bold-Oxygen {
  font-family: 'Oxygen';
  font-weight: 700;
}
/*-------------------BPG_Nino---------------------*/
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino-Regular'), url('../font/BPG_Nino/BPG_Nino_Elite_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Medium'), url('../font/BPG_Nino/BPG_Nino_Elite_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.font-light-BPG {
  font-family: 'BPG_Nino';
  font-weight: 200;
}
.font-book-BPG {
  font-family: 'BPG_Nino';
  font-weight: 300;
}
.font-regular-BPG {
  font-family: 'BPG_Nino';
  font-weight: 400;
}
.font-medium-BPG {
  font-family: 'BPG_Nino';
  font-weight: 500;
}
main {
  position: relative;
  overflow: hidden;
}
nav.transparent .nav-list .logo img {
  display: block;
}
.block {
  margin-bottom: 150px;
}
.block .side {
  width: 50%;
  float: left;
  position: relative;
}
.block .side:last-child {
  float: unset;
  margin-left: auto;
}
.block .side .horisontal {
  width: 100%;
}
.block .side .vertical {
  width: calc(100% - 16.6% * 2);
  margin-left: 16.6%;
}
.block .side .decoration {
  position: absolute;
  bottom: -30px;
  right: 110px;
}
.block .image {
  background: transparent url(../img/views/image3.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.block.image-text .with-text .text-wrapp {
  padding-left: 0;
  margin-top: 170px;
}
.block .with-text .text-wrapp {
  padding-left: 16.6%;
  margin-bottom: 167px;
}
.block .with-text .text-wrapp h2,
.block .with-text .text-wrapp p {
  max-width: 475px;
  margin-bottom: 0;
}
.block .with-text .text-wrapp h2 {
  font-family: 'Oxygen';
  font-weight: 400;
  margin-bottom: 35px;
  text-align: left;
  font-size: 32px;
  line-height: 56px;
  color: #333;
}
.block .with-text .text-wrapp p {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 32px;
  margin-bottom: 56px;
}
.guide-cards {
  margin-left: 8.3%;
  margin-right: 8.3%;
}
.guide-cards h2 {
  font-family: 'Oxygen';
  font-weight: 400;
  color: #333;
  font-size: 56px;
  line-height: 96px;
  margin-bottom: 12px;
}
.guide-cards p:first-of-type {
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  color: #333;
  margin-bottom: 100px;
}
.cards-list {
  margin-bottom: 170px;
}
.cards-list .card {
  width: calc(100% / 3 - 40px);
  margin-right: 40px;
  float: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 75px;
}
.cards-list .card:nth-child(3n) {
  margin-right: 0;
}
.cards-list .card .img-cover {
  position: relative;
  padding-top: 60%;
  margin-bottom: 27px;
}
.cards-list .card .img-cover img {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cards-list .card .place {
  display: flex;
  align-items: center;
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  color: #828282;
  margin-bottom: 0;
}
.cards-list .card .place:before {
  content: url(../img/icon/marker-gray.svg);
  margin-right: 10px;
}
.cards-list .card .name {
  font-size: 32px;
  line-height: 56px;
  font-family: 'Oxygen';
  font-weight: 400;
  margin-bottom: 0;
  color: #333333;
}
.cards-list .card .activity {
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 23px;
}
.cards-list .card .more {
  display: flex;
}
.cards-list .card .more .contact,
.cards-list .card .more .language {
  width: 50%;
}
.cards-list .card .more .title {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #828282;
  margin-bottom: 0;
}
.cards-list .card .more .lang,
.cards-list .card .more .tel {
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333;
  display: block;
  width: 100%;
}
.cards-list .card .more .link {
  display: inline-block;
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #4C9CE1;
  margin-right: 35px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.cards-list .card .more .link span {
  border-bottom: 1px solid #CCE4F9;
  padding-bottom: 2px;
}
.cards-list .card .more .link:last-child {
  margin-right: 0;
}
.cards-list .card .more .link img {
  margin-left: 5px;
}
.rotator-block {
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
}
.rotator-block .decoration {
  position: absolute;
  right: -51px;
  top: 0;
  z-index: -1;
}
.rotator-block h2 {
  font-size: 48px;
  line-height: 56px;
  font-family: 'Oxygen';
  font-weight: 300;
  margin-left: 16.6%;
  margin-bottom: 90px;
}
.rotator-block .rotator {
  margin-left: 16.6%;
  width: 100%;
}
.rotator-block .slick-arrow {
  -webkit-appearance: none;
  background: none;
}
.rotator-block .slick-prev {
  position: absolute;
  left: -150px;
  top: 0;
  width: 20px;
  color: transparent;
  cursor: pointer;
}
.rotator-block .slick-prev:focus {
  outline: none;
}
.rotator-block .slick-prev:after {
  content: url(../img/icon/arr-left.svg);
}
.rotator-block .slick-next {
  position: absolute;
  left: -70px;
  top: 0;
  width: 20px;
  color: transparent;
  cursor: pointer;
}
.rotator-block .slick-next:focus {
  outline: none;
}
.rotator-block .slick-next:after {
  content: url(../img/icon/arr-right.svg);
}
.rotator-block .item {
  position: relative;
  width: 595px;
  height: 760px;
  overflow: hidden;
  margin-right: 20px;
  cursor: grab;
}
.rotator-block .item img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rotator-block .item .text-wrapp {
  width: calc(100% - 65px * 2);
  position: absolute;
  bottom: 55px;
  left: 65px;
}
.rotator-block .item .text-wrapp h2 {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 0;
  color: white;
  margin: 0;
}
.rotator-block .item .text-wrapp p {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 32px;
  line-height: 56px;
  color: white;
  margin-bottom: 0;
}
