/*-------------------Oxygen---------------------*/
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Light.ttf'), local('Oxygen-Light'), url('../font/Oxygen/Oxygen-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Regular.ttf'), local('Oxygen-Regular'), url('../font/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Bold.ttf'), url('../font/Oxygen/Oxygen-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.font-light-Oxygen {
  font-family: 'Oxygen';
  font-weight: 300;
}
.font-regular-Oxygen {
  font-family: 'Oxygen';
  font-weight: 400;
}
.font-bold-Oxygen {
  font-family: 'Oxygen';
  font-weight: 700;
}
/*-------------------BPG_Nino---------------------*/
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino-Regular'), url('../font/BPG_Nino/BPG_Nino_Elite_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Medium'), url('../font/BPG_Nino/BPG_Nino_Elite_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.font-light-BPG {
  font-family: 'BPG_Nino';
  font-weight: 200;
}
.font-book-BPG {
  font-family: 'BPG_Nino';
  font-weight: 300;
}
.font-regular-BPG {
  font-family: 'BPG_Nino';
  font-weight: 400;
}
.font-medium-BPG {
  font-family: 'BPG_Nino';
  font-weight: 500;
}
main {
  position: relative;
  overflow: hidden;
}
nav.transparent .nav-list .logo img {
  display: block;
}
.head-picture {
  height: 435px;
}
.block {
  margin-bottom: 150px;
}
.block .side {
  width: 50%;
  float: left;
  position: relative;
}
.block .side:last-child {
  float: unset;
  margin-left: auto;
}
.block .side .horisontal {
  width: 100%;
}
.block .side .vertical {
  width: calc(100% - 16.6% * 2);
  margin-left: 16.6%;
}
.block .side .decoration {
  position: absolute;
  bottom: -30px;
  right: 110px;
}
.block .image {
  background: transparent url(../img/views/image3.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.block .with-text .text-wrapp {
  padding-left: 16.6%;
  margin-bottom: 167px;
}
.block .with-text .text-wrapp h2,
.block .with-text .text-wrapp p {
  max-width: 475px;
  margin-bottom: 0;
}
.block .with-text .text-wrapp h2 {
  font-family: 'Oxygen';
  font-weight: 400;
  margin-bottom: 35px;
  text-align: left;
  font-size: 32px;
  line-height: 56px;
  color: #333;
}
.block .with-text .text-wrapp p {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 32px;
  margin-bottom: 56px;
}
.hotel-search {
  margin: 0 8.3%;
}
.hotel-search h2 {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 32px;
  line-height: 96px;
  color: #333;
}
.hotel-search button {
  -webkit-appearance: none !important;
  background: transparent;
  cursor: pointer;
}
.hotel-search form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 85px;
}
.hotel-search .room,
.hotel-search .capacity {
  width: calc(100% / 10 * 2);
}
.hotel-search .location {
  width: calc(100% - (100% / 10 * 2) * 2 - 250px - 40px * 3);
}
.hotel-search .input-wrapp {
  float: left;
}
.hotel-search .input-wrapp label {
  display: block;
  width: 100%;
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #828282;
}
.hotel-search .input-wrapp select {
  height: 47px;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  outline: none;
  font-size: 18px;
  line-height: 41px;
  font-family: 'Oxygen';
  font-weight: 400;
}
.hotel-search .input-wrapp select option {
  height: 50px !important;
  padding: 5px  !important;
  font-size: 18px  !important;
  line-height: 41px  !important;
  font-family: 'Oxygen' !important;
  font-weight: 400 !important;
  border: unset !important;
  min-height: 50px !important;
}
.hotel-list .card {
  width: calc(100% / 3 - 40px);
  margin-right: 40px;
  float: left;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 75px;
}
.hotel-list .card:nth-child(3n) {
  margin-right: 0;
}
.hotel-list .card .img-cover {
  position: relative;
  padding-top: 80%;
  margin-bottom: 20px;
}
.hotel-list .card .img-cover img {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hotel-list .card .text-wrapp {
  display: flex;
  align-items: center;
}
.hotel-list .card .place {
  display: flex;
  align-items: center;
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
  color: #828282;
  margin-bottom: 0;
}
.hotel-list .card .place:before {
  content: url(../img/icon/marker-gray.svg);
  margin-right: 10px;
}
.hotel-list .card .valley {
  border-left: 1px solid #828282;
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
  margin-bottom: 0;
  margin-left: 8px ;
  padding-left: 8px;
}
.hotel-list .card .name {
  font-size: 20px;
  line-height: 56px;
  font-family: 'Oxygen';
  font-weight: 400;
  margin-bottom: 0;
  transition: 0.3s all ease-in-out;
  color: #333333;
}
.hotel-list .card .name:hover {
  color: #666666;
  transition: 0.3s all ease-in-out;
}
.hotel-list .card .more {
  display: flex;
  margin-top: 30px;
}
.hotel-list .card .more .info .item {
  display: flex;
  float: left;
  margin-right: 40px;
}
.hotel-list .card .more .info .item p {
  font-size: 14px;
  line-height: 30px;
  color: #828282;
  font-family: 'Oxygen';
  font-weight: 300;
  margin-bottom: 0;
}
.hotel-list .card .more .info .item p span {
  font-size: 14px;
  line-height: 28px;
  font-family: 'Oxygen';
  font-weight: 400;
  color: #828282;
  margin-right: 5px;
}
.hotel-list .card .more .info .item svg {
  height: 25px;
  width: 19px;
  margin-right: 10px;
}
.hotel-list .card .more .cost {
  margin-left: auto;
}
.hotel-list .card .more .cost p {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #828282;
  display: inline;
}
.hotel-list .card .more .cost .price {
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333;
}
.load-more {
  margin-bottom: 175px;
}
.load-more a {
  margin: 0 auto;
  margin-top: 80px;
}
.image-separator {
  position: relative;
  margin-bottom: 175px;
}
.image-separator .decoration {
  position: absolute;
  left: 100px;
  bottom: -105px;
}
.image-separator .img-wrapp {
  width: 100%;
  height: 630px;
  position: relative;
  overflow: hidden;
}
.image-separator .img-wrapp img {
  position: absolute;
  top: -50px !important;
  left: -80px !important;
  height: 110%;
  width: 110%;
  object-fit: cover;
}
.block .with-text {
  margin-top: 100px;
}
.block .side .decoration {
  bottom: -120px;
  left: 35%;
}
