@import url(font.less);

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    .font-regular-BPG()
}


nav {
    .nav-list {
        li {
            margin-right: 48px;

            a {
                .font-medium-BPG();
                font-size: 26px;
            }
        }
    }
}


.outline,
.full {
    .font-medium-BPG();
    font-size: 26px;
    line-height: 36px;
}


footer {

    .footer-bottom {

        p,
        a {
            font-size: 25px;
            line-height: 48px;
            .font-book-BPG();
        }
    }

    .social-media {
        p {
            font-size: 18px;
            line-height: 48px;
            .font-light-Oxygen();
            margin-bottom: 0;
            color: #333;

            &:first-of-type {
                font-size: 45px;
                line-height: 56px;
                .font-medium-BPG();
            }
        }
    }
}


.section-title {
	h1 {
        font-size: 102px;
        line-height: 112px;
        .font-medium-BPG();
        
	}

	p {		
        .font-medium-BPG();
        font-size: 26px;
        line-height: 36px;
	}
}


.rotator-block {

    h2 {
        .font-book-BPG();
        font-size: 66px;
        line-height: 72px;
    }    

    .item {

        .text-wrapp {

            h2 {
                .font-medium-BPG();
                font-size: 67px;
                line-height: 72px;
            }

            p {
                .font-book-BPG();
                font-size: 45px;
                line-height: 56px;
            }
        }
    }
}