/*-------------------Oxygen---------------------*/
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Light.ttf'), local('Oxygen-Light'), url('../font/Oxygen/Oxygen-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Regular.ttf'), local('Oxygen-Regular'), url('../font/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oxygen';
  src: local('../font/Oxygen/Oxygen-Bold.ttf'), url('../font/Oxygen/Oxygen-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.font-light-Oxygen {
  font-family: 'Oxygen';
  font-weight: 300;
}
.font-regular-Oxygen {
  font-family: 'Oxygen';
  font-weight: 400;
}
.font-bold-Oxygen {
  font-family: 'Oxygen';
  font-weight: 700;
}
/*-------------------BPG_Nino---------------------*/
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Light'), local('BPG_Nino-Light'), url('../font/BPG_Nino/BPG_Nino_Elite_Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino-Regular'), url('../font/BPG_Nino/BPG_Nino_Elite_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BPG_Nino';
  src: local('../font/BPG_Nino/BPG_Nino Medium'), url('../font/BPG_Nino/BPG_Nino_Elite_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
.font-light-BPG {
  font-family: 'BPG_Nino';
  font-weight: 200;
}
.font-book-BPG {
  font-family: 'BPG_Nino';
  font-weight: 300;
}
.font-regular-BPG {
  font-family: 'BPG_Nino';
  font-weight: 400;
}
.font-medium-BPG {
  font-family: 'BPG_Nino';
  font-weight: 500;
}
* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  font-family: 'BPG_Nino';
  font-weight: 400;
}
nav .nav-list li {
  margin-right: 48px;
}
nav .nav-list li a {
  font-family: 'BPG_Nino';
  font-weight: 500;
  font-size: 26px;
}
.outline,
.full {
  font-family: 'BPG_Nino';
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}
footer .footer-bottom p,
footer .footer-bottom a {
  font-size: 25px;
  line-height: 48px;
  font-family: 'BPG_Nino';
  font-weight: 300;
}
footer .social-media p {
  font-size: 18px;
  line-height: 48px;
  font-family: 'Oxygen';
  font-weight: 300;
  margin-bottom: 0;
  color: #333;
}
footer .social-media p:first-of-type {
  font-size: 45px;
  line-height: 56px;
  font-family: 'BPG_Nino';
  font-weight: 500;
}
.section-title h1 {
  font-size: 102px;
  line-height: 112px;
  font-family: 'BPG_Nino';
  font-weight: 500;
}
.section-title p {
  font-family: 'BPG_Nino';
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}
.rotator-block h2 {
  font-family: 'BPG_Nino';
  font-weight: 300;
  font-size: 66px;
  line-height: 72px;
}
.rotator-block .item .text-wrapp h2 {
  font-family: 'BPG_Nino';
  font-weight: 500;
  font-size: 67px;
  line-height: 72px;
}
.rotator-block .item .text-wrapp p {
  font-family: 'BPG_Nino';
  font-weight: 300;
  font-size: 45px;
  line-height: 56px;
}
